@import "./variables.scss";

.header {
  width: 100vw;
  height: 5.938rem;
  margin: 0 0 0.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: var(--white);
  display: flex;
  transition: 0.5s ease all;

  .hidden {
    color: white;
  }

  &__content {
    // width: 100%;
    overflow: hidden;
    color: $white;
    margin: 0 auto;
    display: flex;
    // justify-content: space-between;

    &__title {
      width: 25rem;
      height: 2.313rem;
      margin: 0.375rem 2.938rem 0.125rem 0;
      font-size: 1.875rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $blue;
    }

    &__nav {
      width: max-content;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 1rem;
      margin-left: -10%;

      &__navLink {
        width: max-content;
        height: 1rem;
        margin: 1.125rem 43.5rem 0.688rem 0.563rem;
        opacity: 0.5;
        font-size: 0.813rem;
        letter-spacing: 1.9px;
        color: var(--black-two);
        display: inline-block;

        &:hover {
          font-weight: bold;
        }

        &:active {
          font-weight: bold;
          color: red;
        }
      }
    }

    &__user {
      width: 4.813rem;
      height: 4.813rem;
      margin: 0 0 0 51.5rem;
      padding: 0.875rem;
      border: solid 1px var(--white-three);
      color: $blue;
    }
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: $Monserrat;
}


/* HTML
<div class="panel-bg"></div> */

/* .container {
  width: 87.5rem;
  height: 5.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: var(--white-two);
} */

/* HTML
<div class="panel-bg"></div> */

/* .Bookstore-CMS {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
} */

/* <span class="Bookstore-CMS Text-Style-3">
  Bookstore CMS
</span> */

/* .BOOKS {
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: Montserrat;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
} */

/* HTML
<span class="BOOKS Text-Style-6">
  BOOKS
</span> */

/* .CATEGORIES {
  width: 6.563rem;
  height: 1rem;
  margin: 1.125rem 41.5rem 0.688rem 2.563rem;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
} */

/* HTML
<span class="CATEGORIES Text-Style-6">
  CATEGORIES
</span> */

/* .user {
  width: 2.813rem;
  height: 2.813rem;
  margin: 0 0 0 41.5rem;
  padding: 0.875rem;
  border: solid 1px var(--white-three);
} */

/* HTML
<div class="Oval"></div> */
