@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,500;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,500;0,900;1,900&display=swap');

// Font
$RobotoSlab: 'Roboto Slab', serif;
$Monserrat: 'Montserrat', sans-serif;

// Colors
$lightGray: #e8e8e8;
$paleGray: #f5f6fa;
$black: black;
$white: white;
$blue: #0290ff;

// Spacing;
$spacing-medium: 1rem;
$spacing-large: 1.5rem;

@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: 48cm) {
      @content;
    }
  }
}
